/* index.css */

* {
  font-family: Arial, sans-serif;
}

html, body {
  width: 100%; height: 100%;
  padding: 0px; margin: 0px;
  display: flex; flex-direction: column;
  justify-content: center; align-items: center;
  background-color: #B5CAA0;
}
.w-shm-eng {
  position: absolute; left: 200px; top: 25px;
  padding: 10px;
  writing-mode: vertical-lr;
  font-size: 15px; font-weight: bold;
  color: #6A8372;
}
.w-shm-chi {
  position: absolute; left: 225px; top: 99px;
  padding: 10px;
  writing-mode: vertical-lr;
  font-size: 30px; font-weight: bold; letter-spacing: 3px;
  color: #6A8372;
}
.w-using{
  position: absolute; left: 210px; top: 315px;
  font-size: 20px; font-weight: bold;
  color: white;
}
.w-mie-chi {
  position: absolute; left: 195px; top: 340px;
  padding: 10px;
  writing-mode: vertical-lr;
  font-size: 30px; font-weight: bold; letter-spacing: 3px;
  color: #6A8372;
}
.w-mie-eng {
  position: absolute; left: 243px; top: 340px;
  padding: 10px;
  writing-mode: vertical-lr;
  font-size: 15px; font-weight: bold;
  color: #6A8372;
}
.container {
  width: 600px; height: 225px;
}
.w-case {
  position: absolute; left: 30; top: 200px;
  padding: 30px;
  font-size: 50px; font-weight: bold; letter-spacing: 2px;
  color: black;
}

.upload_area {
  position: absolute; top: 300px;
  display: flex;
  flex-direction: column;
  padding: 15px 30px;
  border-radius: 5px;
  color: #6A8372;
}

.button {
  margin-top: 25px;
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #0056b3;
  color: white;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  font-size: 15px; font-weight: bold; letter-spacing: 1px;
}

.button:hover {
  background-color: #7DB9DE;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

.button:active {
  background-color: #003366;
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.4);
}
